{% extends "blog/base.html" %}
 {% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            {% block featured %}
        
           
                <div class="card mb-4">
                      {% if featured_article.image %}
                    <a href="{% url 'blog:article_detail' featured_article.id %}">
                    <img class="card-img-top" src="{{ featured_article.image.url }}" alt="{{ article.title }}" style="width: 600px; height: 350px; object-fit: cover;" />
                        {% else %}  
                        <img class="card-img-top" src="{{ article.image.url|default:'https://dummyimage.com/850x350/dee2e6/6c757d.jpg' }}" alt="{{ article.title }}" />                      
                    </a>
                     {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">{{ featured_article.created_at|date:"F j, Y" }}</div>
                        <h2 class="card-title">{{ featured_article.title }}</h2>
                        <p class="card-text">{{ featured_article.content|truncatewords:30 }}</p>
                        {% if featured_article.id %}
                        <a class="btn btn-primary" href="{% url 'blog:article-detail' featured_article.id %}">Read more →</a>
                        {% endif %}
                    </div>
                </div>
        
              
            {% endblock %}
            <!-- Nested row for non-featured blog posts-->
            {% block post %}

            <div class="row">
                {% for article in normal_articles %}
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <a href="{{ article.get_absolute_url }}"><img class="card-img-top" src="{{ article.image.url|default:'https://dummyimage.com/700x350/dee2e6/6c757d.jpg' }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{ article.created_at|date:"F j, Y" }}</div>
                            <h2 class="card-title h4">{{ article.title }}</h2>
                            <p class="card-text">{{ article.content|truncatewords:30 }}</p>
                            <a class="btn btn-primary" href="{{ article.get_absolute_url}}">Read more →</a> 
                            <!-- url 'blog:article-detail' article.id %d -->
                        </div>
                    </div>
                </div>

        
                {% endfor %}
              
            </div>
            
            {% endblock %}
            <!-- Pagination-->
            {% block pagination %}
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <!-- Previous page link -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Newer</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                        </li>
                    {% endif %}
                    
                    <!-- Page numbers -->
                    {% for page_num in paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">{{ page_num }}</a>
                            </li>
                        {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% elif page_num == 1 or page_num == paginator.num_pages %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                        {% elif page_num == page_obj.number|add:'-4' or page_num == page_obj.number|add:'4' %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">...</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    <!-- Next page link -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Older</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-disabled="true">Older</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            {% endblock %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            {% block search %}
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form method="get" action="{% url 'blog:search_results' %}">
                        <div class="input-group">
                            <input class="form-control" type="text" name="q" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endblock %}
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                        {% for category in categories|slice:":3" %}
                            <li><a href="{% url 'blog:category_detail' category.id %}">{{ category.name }}</a></li>
                        {% empty %}
                            <li>No categories available.</li>
                        {% endfor %}
                        </ul>
                        </div>  
                        
                         <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                        {% for category in categories|slice:"3:" %}
                            <li><a href="{% url 'blog:category_detail' category.id %}">{{ category.name }}</a></li>
                        {% empty %}
                            <li>No categories available.</li>
                        {% endfor %}
                        </ul>
                        </div>     
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
    </div>
</div>




<!--{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}" style="display: inline-block;">Log In</a> 
| <a href="{% url 'register' %}" style="display: inline-block;">Sign Up</a>
{% endif %}
{% endblock content %} -->